h1{
    text-transform: uppercase;
}

.body-element{
    width: fit-content;
    margin: auto;
}

.tb{
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 0;
}
.btn-sbmt{
    margin: 50px 0;
}