<div class="container-fluid">
  <div *ngIf="inNeed" class="row">
    <div class="col-12 col-md-8">
      <div class="row">
      <div class="col-12 text-center">
        <h2 class="text-center">fill and post your request</h2>
      </div>
      <div class="col-12">
        <form novalidate [formGroup]="RequestForm" (ngSubmit)="onSubmit()">
          <div fxLayoutGap="2%">
            <mat-form-field appearance="fill">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of Types" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-slide-toggle formControlName="urgent">Urgent</mat-slide-toggle>
          </div>
          <hr>
          <div fxLayout="column">
            <mat-form-field>
              <input matInput formControlName="familySituation" placeholder="Your family situation" type="text"
                required>
              <mat-error
                *ngIf="RequestForm.get('familySituation').hasError('required') && RequestForm.get('familySituation').touched ">
                Your family situation is required</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput formControlName="subject" placeholder="describe what you need" type="text" required>
              <mat-error *ngIf="RequestForm.get('subject').hasError('required') && RequestForm.get('subject').touched ">
                fill this field, so people may help you.</mat-error>
            </mat-form-field>
          </div>
          <hr>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Due date</mat-label>
              <input formControlName="dueDate" matInput [matDatepicker]="picker" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <hr>
          <div fxLayoutAlign="center center">
            <button type="submit" color="primary" [disabled]="RequestForm.invalid" fxFlex="60%"
              mat-raised-button>Submit</button>
          </div>
        </form>
      </div>
    </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
      <div *ngIf="UrgentRequests"  class="col-12">
        <h2 class="text-center">Recent Requests</h2>
        <mat-list>
          <span mat-subheader>Urgent requests</span>
          <mat-list-item *ngFor="let urgentreq of UrgentRequests">
            <mat-icon mat-list-icon>update</mat-icon>
            <div mat-line>{{urgentreq.user?.firstname}} {{urgentreq.user?.lastname}}</div>
            <div mat-line> {{urgentreq?.dueDate | date}} </div>
            <div mat-line> {{urgentreq?.type}} </div>

            <hr>
            <div mat-line> {{urgentreq?.subject}} </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      <div *ngIf="NormalRequests">
        <mat-list>
          <span mat-subheader>Normal requests</span>
          <mat-list-item *ngFor="let urgentreq of NormalRequests">
            <mat-icon mat-list-icon>update</mat-icon>
            <div mat-line>{{urgentreq.user?.firstname}} {{urgentreq.user?.lastname}}</div>
            <div mat-line> {{urgentreq?.dueDate | date}} </div>
            <hr>
            <div mat-line> {{urgentreq?.subject}} </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>
    </div>
  </div>
</div>