<mat-toolbar color="primary">
  Login
<span class="flex-spacer"></span>
<button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout ="column">
      <mat-form-field>
        <input matInput formControlName="username" placeholder="Username" type="text" required>
        <mat-error *ngIf="loginError.username">{{loginError.username}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" placeholder="Password" type="password" required>
        <mat-error *ngIf="loginError.password">{{loginError.password}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
</form>

<div *ngIf="errMess">
  <h1>{{errMess}}</h1>
</div>
