<div class="top-container container-fluid">
    <div class="row">
        <div class="col-4 d-none d-lg-block text-center align-self-center">
            <img src="/assets/Home/logoX.png" alt="Help image">
        </div>
        <div class="col-12 col-lg-8">
            <h1 class="text-center">Why Elderly Care ? </h1>
            <p>Lacking a sense of purpose and belonging in the universe is something that is very common for a lot of
                people.</p>
            <p>Without a sense of purpose, our souls and vibrancy are weaker.</p>
            <p>Our souls are not as happy as they’d like to be.</p>
            <p>Helping others also creates a sense of belonging and reduces isolation.</p>
            <p>We feel more in tune with humanity and the bigger picture. We realize that we can actually have a huge
                effect on the world, and that gives us more empathy and compassion.</p>
        </div>
    </div>
</div>
<div class="container-fluid container-body">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2>Elderly Care</h2>
                <p>in few words</p>
            </div>

            <div class="col-12 col-md-6 text-center">
                <i class="fa fa-medkit fa-3x" aria-hidden="true"></i>
                <h4>For People In Need</h4>
                <p>People here can get different kind of helop , food, money or even medical helop</p>
            </div>

            <div class="col-12 col-md-6 text-center">
                <i class="fa fa-heart fa-3x" aria-hidden="true"></i>
                <h4>for Helpers</h4>
                <p>If you can , make sure you help your brothers and sisters</p>
            </div>

            
            <div class="col-12 col-md-6 text-center align-self-center">
                <h4>Our activity</h4>
                <p>We've been around for more than two years,we've put a lot of work on the effeciety of our website</p>
                <p>Our website has became a well known website in morroco , a lot of people could manage to find help
                </p>
            </div>
            <div class="col-12 col-md-6 text-center" style="padding: 30px;">
                <img src="/assets/Home/logoX.png" style="border-radius: 10px;width: 100%;" alt="">
            </div>

            

            <div class="col-12 text-center">
                <h2>Stats</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <h4>Food Help</h4>
                <div class="row stats">
                    <div class="col-4 align-self-center">
                        <span>120+</span>
                    </div>
                    
                    <div class="col-8 align-self-center">
                        <p>avoided sleeping in hunger</p>
                    </div>
                    <hr style="width:100%;text-align:left;margin-left:0">
                    <div class="col-4 align-self-center">
                        <span>140+</span>
                    </div>
                    <div class="col-8 align-self-center">
                        <p>people contrubuted in this field</p>
                    </div>
                    <hr style="width:100%;text-align:left;margin-left:0">
                    <div class="col-4 align-self-center">
                        <span>10+</span>
                    </div>
                    <div class="col-8 align-self-center">
                        <p>grossery stores participated in this mouvement</p>
                    </div>
                </div>
                
            </div>
            
            <div class="col-12 col-md-6 col-lg-4 text-center">
                <h4>Financial Help</h4>
                <div class="row stats">
                    <div class="col-4 align-self-center">
                        <span>100+</span>
                    </div>
                    
                    <div class="col-8 align-self-center">
                        <p>person got financial help from several helpers</p>
                    </div>
                    <hr style="width:100%;text-align:left;margin-left:0">
                    <div class="col-4 align-self-center">
                        <span>40+</span>
                    </div>
                    <div class="col-8 align-self-center">
                        <p>Transported to hospitals and saved from</p>
                    </div>
                    
                </div>
            </div>
            

            <div class="col-12 col-lg-4 text-center">
                <h4>Medecine / Health care</h4>
                <div class="row stats">
                    <div class="col-4 align-self-center">
                        <span>30+</span>
                    </div>
                    
                    <div class="col-8 align-self-center">
                        <p>doctors saved/helped some people in critical conditions</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
