.container{
    padding:5px;
    margin:20px;
    font-family: 'Oswald', sans-serif;
}

hr{
    margin:20px;
}

.dev{
    padding:20px;
}

.contt{
    background-color:whitesmoke;
}
.container{
    background-color:whitesmoke;
}