<div fxLayout="row"
fxLayoutGap="10px">
    <div class="dev">
        <img src="https://www.thevillagefamily.org/sites/default/files/styles/blog_page_picture/public/MHM%20blog%20image%20%282%29.png?itok=EhF-YQc6"
         alt="Help image">
    </div>
    <div>
        <h1>Why Elderly Care ? </h1>
        <p>Lacking a sense of purpose and belonging in the universe is something that is very common for a lot of people.</p>
        <p>Without a sense of purpose, our souls and vibrancy are weaker.</p>
        <p>Our souls are not as happy as they’d like to be.</p>
        <hr>
        <p>Helping others also creates a sense of belonging and reduces isolation.</p>
        <p>We feel more in tune with humanity and the bigger picture. We realize that we can actually have a huge effect on the world, and that gives us more empathy and compassion.</p>
    </div>
</div>

<div class ="container"
 fxLayout ="row"
 fxLayout.lt-md="column"
 fxLayoutGap="20px">
    
    <div fxFlex class="dev">
        <h1>Elderly Care</h1>
        <p>Through us, you can help people , or get people's helop</p>
    </div>

    <div fxFlex class="dev">
        <h1>In details</h1>
        <p>People here can get different kind of helop , food, money or even medical helop</p>   
    </div>

    <div fxFlex class="dev">
        <h1>Let's make the world a better place</h1>
        <p>If you can , make sure you help your brothers and sisters</p>
    </div>
</div>
<hr>
<div class="container">
    <h1>Our activity</h1>
    <p>We've been around for more than two years,we've put a lot of work on the effeciety of our website</p>
    <p>Our website has became a well known website in morroco , a lot of people could manage to find help</p>
    <p></p>
</div>
<hr>
<div fxLayoutAlign="center center" class="contt">
    <h1>Stats</h1>
</div>
<div class ="container"
fxLayout ="row"
fxLayout.lt-md="column"
fxLayoutGap="20px">
        <div fxFlex class="dev">
            <h1>Food Help</h1>
            <p>More than 128 avoided sleeping in hunger</p>
            <p>More than 140 people contrubuted in this field</p>
            <p>more than 10 grossery stores participated in this mouvement</p>
        </div>
        <hr>
        <div fxFlex class="dev">
            <h1>Financial Help</h1>
            <p>More than 100 person got financial help from several helpers</p>
            <p>In this pandemic , a lot of helpers saved people in need</p>
            <p></p>   
        </div>
        <hr>

        <div fxFlex class="dev">
            <h1>Medecine / Health care</h1>
            <p>More than 35 doctors saved/helped some people in critical state</p>
            <p></p>
        </div>
</div>
