@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

.flex-spacer {
  flex: 1 1 auto;
}

  body { 
    padding: 0; 
    margin: 0; 
    font-family: 'Raleway', sans-serif;  }

  .mat-tab-labels {
    justify-content: center;
}